<h3>All Patients</h3>
<table style="width:50%">
  <tr>
    <th>Patient</th>
    <th>Patient Age</th>
    <th>Appointment Count</th>
    <th>Patient Options</th>
  </tr>
<% @patients.each do |patient| %>
<tr>
  <td><%=patient.name%></td>
  <td><%=patient.age%> years old</td>
  <td><%=patient.appointments.count%> appointment(s)</td>
  <td>
    <a href="/patients/<%=patient.id%>">View</a>
    <a href="/patients/<%=patient.id%>/edit">Edit</a>
  </td>
</tr>
<% end %>
