<h3 style="text-align: center">Update <%= Patient.find(@appointment.patient_id).name %>'s Appointment</h3>

  <form action="/appointments/<%= @appointment.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p style="text-align: center">Select an existing patient, create a new one, or change the date/time</p>


    <h3>Existing Patients</h3>

    <table style="width:100%">
      <tr>
      <% @patients.each do |patient| %>
        <td><input type="radio" name="appointment[patient_id]" id="<%= patient.id %>" value="<%= patient.id %>" <%='checked' if @appointment.patient == patient %>><%= patient.name %> (Age: <%= patient.age %>)</input><br></td>
      <% end %>
    </tr>
    </table>
    <hr>
    <h3>New Patient</h3>
    <table style="width:50%">
    <td><label>Patient Name: </label>
    <input type="text" placeholder="Patient Name" name="appointment[patient][name]" id="patient_name"></input></td>
    <td><label>Patient Age: </label>
    <input type="text" placeholder="Patient Age" name="appointment[patient][age]" id="patient_age"></input></td>
    </table>
    <hr>
    <h3>Change The Appointment Date/Time</h3>
    <table style="width:50%">
    <td><label for="date">Appointment Date:</label>
    <input type="date" id="date" name="appointment[date]"
         value="<%=@appointment.appointment_date.year%>-0<%=@appointment.appointment_date.month%>-<%=@appointment.appointment_date.day%>"
         min="2020-05-20" max="2021-12-31"></td>

   <td><label for="time">Appointment Time:</label>
   <input type="time" id="time" value="<%=@appointment.appointment_date.hour%>:<%=@appointment.appointment_date.min%>" name="appointment[time]"></td>
  </table>

    <input type="submit" value="Update Appointment">
  </form>
