<h3 style="text-align: center">Update <%= Patient.find(@appointment.patient_id).name %>'s Appointment</h3>

  <form action="/appointments/<%= @appointment.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p style="text-align: center">Select an existing patient, create a new one, or change the date/time</p>


    <h3>Existing Patients</h3>

    <table style="width:100%">
      <tr>
      <% @patients.each do |patient| %>
        <td><input type="radio" name="appointment[patient_id]" id="<%= patient.id %>" value="<%= patient.id %>" <%='checked' if @appointment.patient == patient %>><%= patient.name %> (Age: <%= patient.age %>)</input><br></td>
      <% end %>
    </tr>
    </table>
    <hr>
    <h3>New Patient</h3>
    <table style="width:50%">
    <td><label>Patient Name: </label>
    <input type="text" placeholder="Patient Name" name="appointment[patient][name]" id="patient_name"></input></td>
    <td><label>Patient Age: </label>
    <input type="text" placeholder="Patient Age" name="appointment[patient][age]" id="patient_age"></input></td>
    </table>
    <hr>
    <h3>Change The Appointment Date/Time</h3>
    <table style="width:50%">
    <td><label for="date">Appointment Date:</label>

      <%# This is to set the placeholder date in the date input %>
      <% appt_date = "#{@appointment.appointment_date.year}-" %>
      <% if @appointment.appointment_date.month < 10 %>
        <% appt_date += "0" + @appointment.appointment_date.month.to_s %>
      <% else %>
        <% appt_date += @appointment.appointment_date.month.to_s %>
      <% end %>
      <% appt_date += "-" %>
      <% if @appointment.appointment_date.day < 10 %>
        <% appt_date += "0" + @appointment.appointment_date.day.to_s %>
      <% else %>
        <% appt_date += @appointment.appointment_date.day.to_s %>
      <% end %>

    <%= @appointment_date %>
    <input type="date" id="date" name="appointment[date]"
         value=<%=appt_date%>
         min="2020-05-20" max="2021-12-31"></td>

   <td><label for="time">Appointment Time:</label>

     <%# This is to set the placeholder time in the time input %>
     <% appt_time = "" %>
     <% if @appointment.appointment_date.hour < 10 %>
      <% appt_time += "0" + @appointment.appointment_date.hour.to_s %>
    <% else %>
      <% appt_time += @appointment.appointment_date.hour.to_s %>
    <% end %>
    <% appt_time += ":" %>
    <% if @appointment.appointment_date.min < 10 %>
      <% appt_time += "0" + @appointment.appointment_date.min.to_s %>
    <% else %>
      <% appt_time += @appointment.appointment_date.min.to_s %>
    <% end %>


   <input type="time" id="time" value=<%=appt_time%> name="appointment[time]"></td>



  </table>

    <input type="submit" value="Update Appointment">
  </form>
