<h3>Your Appointments</h3>
<table style="width:100%">
  <tr>
    <th>Patient Name</th>
    <th>Appointment Date/Time</th>
    <th>Appointment Options</th>
  </tr>
<% @appointments = @appointments.sort_by { |appt| appt.appointment_date } %>
<% @appointments.each do |appointment| %>
  <% if current_user.id == appointment.user_id %>
    <% if appointment.appointment_date < DateTime.now %>
      <%= "<tr class='passed'>" %>
    <% else %>
        <%= "<tr>" %>
    <%end%>
      <td><p>
        Patient: <a href="/patients/<%=Patient.find(appointment.patient_id).id%>">
                <%= Patient.find(appointment.patient_id).name %>
                (Age: <%= Patient.find(appointment.patient_id).age %>)</a>
      </p></td>
      <td><p>Date/Time: <%= appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %> </p></td>
      <td>
      <a href="/appointments/<%=appointment.id%>">View</a>
      <a href="/appointments/<%=appointment.id%>/edit">Edit</a>
      </td>
  </tr>
  <% end %>
<% end %>
</table>
<hr>


<h3>All Appointments</h3>
<table style="width:100%">
  <tr>
    <th>Physician</th>
    <th>Patient</th>
    <th>Appointment Date/Time</th>
    <th>Appointment Options</th>
  </tr>
<% @appointments.each do |appointment| %>
<% if current_user.id == appointment.user_id %>
  <% if appointment.appointment_date < DateTime.now %>
    <%= "<tr class='passed'>" %>
  <% else %>
      <%= "<tr>" %>
  <%end%>
  <td><p>Physician: <%= User.find(appointment.user_id).username %></p></td>
  <td><p>
    Patient: <a href="/patients/<%=Patient.find(appointment.patient_id).id%>">
    <%= Patient.find(appointment.patient_id).name %>
    (Age: <%= Patient.find(appointment.patient_id).age %>)</a>
  </p></td>
  <td><p>Date/Time: <%= appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %> </p></td>
  <td>
  <a href="/appointments/<%=appointment.id%>">View</a>
  <a href="/appointments/<%=appointment.id%>/edit">Edit</a>
  </td>
</tr>
<% end %>
<% end %>
