<h1>Appointment Information</h1>

Patient: <%= @patient.name  %><br />
Age: <%= @patient.age  %> <br />
Date/Time: <%= @appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %>

<br/>
<a href="/appointments">Home</a>
<a href="/appointments/<%=@appointment.id%>/edit">Edit</a>
<br/><br/>
<form method="post" action="/appointments/<%= @appointment.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Appointment">
</form>
