<h3 style="text-align:center">Appointment Information</h3>
<table style="width:100%">
  <tr>
    <th>Patient Name</th>
    <th>Age</th>
    <th>Appointment Date/Time</th>
    <th>Options</th>
    <th>Delete Appointment</th>
  </tr>
  <tr>
    <td><%= @patient.name %></td>
    <td><%= @patient.age %> </td>
    <td><%= @appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %></td>
    <td>
      <a href="/appointments">Home</a>
      <a href="/appointments/<%=@appointment.id%>/edit">Edit</a>
    </td>
    <td>
      <form method="post" action="/appointments/<%= @appointment.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Appointment">
      </form>
    </td>
  </tr>
</table>
